build --show_result 5

build --experimental_sandbox_base=/tmp/
build --experimental_multi_threaded_digest

build --sandbox_fake_hostname=true
build --sandbox_fake_username=true

startup --host_jvm_args=-Dbazel.DigestFunction=SHA1

common --watchfs

build --spawn_strategy=sandboxed
build --experimental_sandbox_default_allow_network=false
